<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2060f378-4f50-4528-a93c-be931b806c27" Alias="asd" Level="2">
  <Info>
    <Name>LinkTesting</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate>LinkTestingf</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="1aa9d625-5422-4d83-94e8-6ec0b692fa02">LinkTestingf</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>8fe1e151-580f-42a6-a7c9-2cc84a6041b9</Key>
      <Name>LinkTESTER</Name>
      <Alias>linkTESTER</Alias>
      <Definition>3ece86aa-61ad-45d5-b1dd-8f02f25df949</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>LinkTest</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>LinkTest</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>