<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8a8a25a3-f2c7-48ad-9d7e-e2fb5b561be8" Alias="contentPage" Level="1">
  <Info>
    <Name>Content Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="15e9f2cc-c014-40b0-a6b3-76020f0aa0cd">contentBase</Composition>
      <Composition Key="944ef1dd-612d-4fb9-8581-ca9b576d0255">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>contentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8cd656b2-ab7c-4ae3-8d72-8892e18b4c85">contentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="8a8a25a3-f2c7-48ad-9d7e-e2fb5b561be8">contentPage</ContentType>
    <ContentType Key="2fc79d73-2c41-4b95-9c77-869caa62d698">home</ContentType>
    <ContentType Key="4de0916e-518c-4bf1-8bb1-7b35b5b66cda">subContent</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>