<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2e9c1f1c-434a-41e9-aa62-bb5b6d020adb" Alias="contactV2" Level="1">
  <Info>
    <Name>ContactV2</Name>
    <Icon>icon-message color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="15e9f2cc-c014-40b0-a6b3-76020f0aa0cd">contentBase</Composition>
      <Composition Key="944ef1dd-612d-4fb9-8581-ca9b576d0255">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>contactV2</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="e6e15d3f-7b0e-4384-9fae-7f3b4b43cc79">contactV2</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>