<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5d7b6048-8f0a-47a5-a437-0693747e90b2" Alias="people" Level="1">
  <Info>
    <Name>People</Name>
    <Icon>icon-user-females-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="15e9f2cc-c014-40b0-a6b3-76020f0aa0cd">contentBase</Composition>
      <Composition Key="944ef1dd-612d-4fb9-8581-ca9b576d0255">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>people</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2fcb3283-2cea-4b07-9b9b-12901773a7c1">people</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="6a422c34-1633-4882-aefc-5e660e6552a3">person</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>3cce08c2-c24e-4930-96e3-22ef7adfb9b4</Key>
      <Name>Featured People</Name>
      <Alias>featuredPeople</Alias>
      <Definition>4885450e-a60f-42bb-984a-43988baf5283</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>