<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4de0916e-518c-4bf1-8bb1-7b35b5b66cda" Alias="subContent" Level="2">
  <Info>
    <Name>SubContent</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate>subContentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0dc8d983-01f2-4b24-ada3-b84e81f1b317">subContentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>568b187b-ba7d-423d-a6d1-e55d5983e5be</Key>
      <Name>HyperLinkPic</Name>
      <Alias>hyperLinkText</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Link Picture]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Main</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>05317b71-baff-434e-b8e0-b73874cee7ef</Key>
      <Name>Link</Name>
      <Alias>link</Alias>
      <Definition>3ece86aa-61ad-45d5-b1dd-8f02f25df949</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Link]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Main</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Main</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>