<?xml version="1.0" encoding="utf-8"?>
<DataType Key="36cf5c33-83eb-4cec-8cae-128ef32a14bd" Alias="Home - Welcome Text - Textarea" Level="1">
  <Info>
    <Name>Home - Welcome Text - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>