<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f6ecc436-016f-4672-84bb-ce3c8d4c1343" Alias="Home Page - Welcome Text - Textarea" Level="1">
  <Info>
    <Name>Home Page - Welcome Text - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>