<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4a2ab508-0976-49f2-a329-bfc48af64350" Alias="SubContentPage - Content - Textarea" Level="1">
  <Info>
    <Name>SubContentPage - Content - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>